body {
 color: #333;
 font-size: 13px;
 line-height: 18px;
 font-family: Georgia, 'Times New Roman', Times, serif
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 list-style: none;
}

$primary-font: "Roboto Condensed",
sans-serif;



// .site-img {
//  min-height: 60vh;
//  background-image: url(/img/pexels-henley-design-studio-1334763.jpg);
//  background-size: cover;
//  background-position: center 50%;
//  background-repeat: no-repeat;
// }

img {
 max-height: 60vh;
 width: 100%;
 object-fit: cover;
 object-position: center 50%;
}

a {
 text-decoration: none;
}

@media(min-width:1030px) {
 img {
  object-position: center 30%;
  ;
 }
}

@import "header";
@import "footer";